html {
    height: 100%;
    zoom: .95;
}

/* Header formatting */
header {
    display: flex;
    padding-top: 0px;
    align-items: last baseline;
}

body {
    background-image: linear-gradient(-45deg, #598392 20%, #25A18E 100%);
    font-family: 'cabin', sans-serif;
    color: #01161e;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

body a {
    text-decoration: none;
    color: #01161e;
}

body a:hover {
    color: #64068a;
}

body h1 a:hover {
    color: #01161e;
}

/* Main formatting */
main {
    padding-top: 20px;
    width: 80%;
}

main a {
    color: #01161e;
}

main a:hover {
    color: #64068a;
}


main p {
    line-height: 1.15em;
}


h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: #01161e;
    text-shadow: 1px 2px 3px #598392;
    font-size: 4em;
    padding: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

h1 a:hover {
    text-shadow: 0 0 10px #8acfe8;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    color: #01161e;
    text-shadow: 1px 1px 1px #598392;
    font-size: 2em;
}

.featured-h2 {
    margin-left: 200px;
    margin-bottom: 0px;
}

/* Hamburger menu */
.menu-icon {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
    color: #01161e;
    width: fit-content;
    margin-left: 20px;
}

.menu-icon:hover {
    text-shadow: 0 0 10px #8acfe8;
}

.menu-icon {
    position: absolute;
    left: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.hidden_nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 225px;
    height: 100%;
    background-color: #9FFFCB;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.hidden_nav.active {
    display: flex;
}

.hidden_nav ul {
    list-style: none;
}

.hidden_nav ul li {
    padding-top: 20px;
    padding-bottom: 30px;
}

.hidden_nav a {
    text-decoration: none;
    font-size: 2.5em;
    color: #01161e;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 1px 1px 1px #598392;

}

.nav-links a {
    color: #003469;
    margin-right: 40px;
    font-weight: bold;

}

.nav-links a :hover {
    text-shadow: 0 0 20px #79b3c8;
}


#index_nav ul {
    display: flex;
    list-style: none;
}

#index_nav ul a {
    font-family: 'cabin', sans-serif;
    font-size: 2em;
}

#index_title {
    margin-left: 5%;
    margin-right: 5%;
}

#index_hamburger {
    display: none;
}

/* Sidebar */
.news-sidebar {
    background-color: #9FFFCB;
    padding-left: 15px;
    overflow-y: hidden;
    border-left: .25px solid #598392;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    width: 25%;
    max-width: 280px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Sidebar heading */
.news-sidebar h3 {
    font-size: 2em;
    text-shadow: 0px 1px 1px #598392;
    color: #01161e;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* News links */
.news-sidebar ul {
    list-style: none;
    padding: 0;
}

.news-sidebar li {
    margin-bottom: 32px;
}

.news-sidebar ul a {
    text-decoration: none;
    color: #00509f;
    transition: color 0.3s;
    font-size: 1.05em;
}

.news-sidebar a:hover {
    color: #8b12bb;
}


#featured-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#game-title {
    font-family: 'cabin', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 1.8em;
    color: #01161e;
}

#game-title:hover {
    color: #64068a;
}

#game-image {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 300px;
    border-radius: 5px;

}

#gameP {
    align-self: center;
    justify-self: center;
}

#gameFrame {
    width: 900px;
    height: 675px;
    border: 5px solid black;
    box-shadow: 0 0 5px 1px #0508095e;
    border-radius: 15px;
}

.top-stories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.top_news_stories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.top-img {
    max-width: 400px;
    justify-self: center;
    max-height: 200px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.top-link {
    font-size: 125%;
    justify-self: center;
    color: #003469;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 0px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid-item img {
    width: 360px;
    height: 270px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.news_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.latest-list {
    display: contents;
}

.latest-list li {
    list-style: none;
    font-size: 1.2em;
    padding-left: 100px;
    padding-bottom: 10px;
}

.latest-list li a {
    text-decoration: underline;
}

.title-link {
    margin-top: 10px;
    text-decoration: none;
    color: #01161e;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.7em;
}

.title-link:hover {
    text-shadow: 0 0 20px #70a7bb;
}

/* About Us */
.about-us {
    font-size: 125%;
    line-height: 1.5em;
    margin-bottom: 0px;
}


/* Footer formatting */
.foot_container {
    width: 27%;
    align-self: center;
}

footer {
    font-size: 75%;
    align-self: center;
    text-align: center;
    color: #01161e;
    position: absolute;
    bottom: 10px;
    padding-top: 20px;
}

@media (max-width: 1700px) {

    .featured-h2 {
        margin-left: 100px;
    }

    .nav-links {
        font-size: .8em;
    }

    #index_title {
        font-size: 2.8em;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: 1600px) {

    .featured-h2 {
        margin-left: 100px;
    }

    .nav-links {
        font-size: .8em;
    }

    #index_title {
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: 1500px) {
    .news-sidebar {
        display: none;
    }

    nav {
        width: 100%;
    }

    main {
        width: 100%;
    }

    .foot_container {
        width: 7%;
    }

    #index_title {
        font-size: 3em;
        margin-left: 0;
        margin-right: 0;
    }

    .featured-h2 {
        margin-left: 100px;
    }

}

@media (max-width: 1100px) {
    #index_title {
        font-size: 2.5em;
        margin-left: 0;
        margin-right: 0;
    }

    .news-sidebar {
        display: none;
    }

    nav {
        width: 100%;
    }

    main {
        width: 100%;
    }

    .foot_container {
        width: 7%;
    }

    .featured-h2 {
        margin-left: 10px;
    }

    #index_hamburger {
        display: flex;
    }

    .nav-links a {
        display: none;
    }

    .top-stories {
        display: none;
    }

    .top-img {
        width: 200px;
        height: 150px;
    }

    .top-link {
        font-size: 1em;
    }

    #top_h2 {
        display: none;
    }
}

@media (max-width: 900px) {
    #index_title {
        font-size: 2em;
        margin-left: 0;
        margin-right: 0;
    }

    .news-sidebar {
        display: none;
    }

    nav {
        width: 100%;
    }

    main {
        width: 100%;
    }

    .foot_container {
        width: 7%;
    }

    .featured-h2 {
        margin-left: 10px;
    }

    #index_hamburger {
        display: flex;
        scale: .8;
    }

    .nav-links a {
        display: none;
    }

    .top-stories {
        display: none;
    }

    #top_h2 {
        display: none;
    }
}